*{
  box-sizing: border-box;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}
html, body {

  overflow-x: hidden;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  scroll-behavior: smooth;
}


*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}